@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-4xl;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}
/* Header css */
.topmenu-items a{
  color: #333 !important;
  font-weight: 500;
  font-size: 14px;
}
.topmenu-items a:hover{
  font-weight: 500;
  border: none !important;
  color: #000051 !important;
}
.bottom-header a{
  color: #333 !important;
  font-size: 14px;
  font-weight: 500;
}
.bottom-header a:hover{
  font-weight: 500;
  border: none !important;
  color: #000051 !important;
  }
  .header-btn-a a:hover,.header-btn-a a{
    color: #fff !important;
  }
  .header-btn-a:hover{
    background-color: #003;
  }
  .header-btn-a {
    letter-spacing: .1em;
    line-height: normal;
    text-transform: lowercase;
    text-align: center;
    height: auto;
    border-width: 1px;
    border-style: solid;
    transition: background .2s, color .2s, border .2s, box-shadow .2s, fill .2s;
    cursor: pointer;
    font-size: 13px;
    padding: 17px 40px;
    min-width: 200px;
    /* box-shadow: 0 0 20px 2px rgba(0, 101, 189, .2); */
    background: #000777;
   
    fill: transparent;
    border-color: transparent;
}.social-link.slid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px !important;
  margin-right: 20px;
}.social-links {
  opacity: 0;
  visibility: hidden;
  width: 0;
}.social-link:hover .social-links {
  opacity: 1;
  visibility: visible;
  width: 80px;
}
.social-link.slid:hover .social-links {
  margin-left: 30px;
  max-width: 200px;
}
/* Footer css */
.footer{
  background-color: #1c1c1c;
}
.footer ul li a{
  color:#9e9e9e !important;
  
}
.footer ul li,.footer h5{
  text-align:left;
}


@media (max-width: 768px){
.header-btn-a{
    display: none;
  }
  .bottom-header-des{
    display: none;
  }
  img{
    width: 100%;
  }
  .footer .copyright{
    flex-direction: column;
  }
  .footer{
    padding: 0 20px;
  }
  .mob-listing img{
    width: 100px;
  }
  .mob-listing a{
    font-size: 14px;
  }
  .mob-listing{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap:10px;
  }
  .copyright img{
    width: 50px;
    height: 50px;
  }
  .copyright .mob-logo{
    width: 80px;
  }
  .copyright .mob-text-align{
    text-align: center;
  }
}